/*ESILIZÇÃO PARA O FORMULÁRIO DE LOGIN*/


.login-container {
    display: flex;
    justify-content: center;
}


.utilizador{
    width: 50%;
    height: 100vh;
    border-right: solid 1px grey;
}

.vagas-definicoes{
    width: 50%;
    height: 100vh;
    margin-left: 2.2rem;
}

.text-senha {
    text-align: left;
}

.text-senha {
    font-size: 1.6rem;
    color : #868e96;
}

.utilizador {
    width: 500px;
    height: 3.2rem;
    color : #868e96;

}