/*ESILIZÇÃO PARA AS DEFINIÇÕES DO ADMNISTRADOR*/
.login-container{
    padding-left: 25%;
    padding-right: 50%;
    height: 68.2vh;
}

.utilizador{
    align-content: center;
}

.entrar{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body{
    color: #000;
}

p{
    color: #000;
    margin-left: 10%;
    margin-bottom: 2.8rem;
}

.fazer{
    padding-left: 25%;
}

.vagas-definicoes{
    width: 50%;
    height: 100vh;
    margin-left: 2.2rem;
}

.text-senha {
    text-align: left;
}

.text-senha {
    font-size: 1.6rem;
    color : #000000;
}

.input-senha {
    display: block;
    width: 500px;
    height: 3.2rem;
    color : #868e96;

}