<div class="definicoes-container flex-container space-between">
    
    <div class="admin-definicoes margin-big-bottom ">
        <p class="secondary-title margin-big-bottom">Definições do Administrador</p>
        <label for="" class="text-senha">Redefinir Senha:</label>
        <input placeholder="Senha Antiga" type="password" class="input-senha margin-big-bottom">
        <input placeholder="Nova Senha" type="password" class="input-senha margin-big-bottom">
        <input class="btn btn-formulario" type="submit" value="Submeter Senha" [disabled]="">
    </div>  
    <div class="borda-do-meio">
      
    </div>

    <div class="vagas-definicoes margin-big-bottom ">
        <p class="secondary-title ">Definições de Vagas</p>
    </div>

</div>
