/*ESILIZÇÃO PARA AS DEFINIÇÕES DO ADMNISTRADOR*/
.admin-definicoes{
    width: 50%;
    height: 100vh;
    border-right: solid 1px grey;
}

.vagas-definicoes{
    width: 50%;
    height: 100vh;
    margin-left: 2.2rem;
}

.text-senha {
    text-align: left;
}

.text-senha {
    font-size: 1.6rem;
    color : #868e96;
}

.input-senha {
    display: block;
    width: 500px;
    height: 3.2rem;
    color : #868e96;

}