.barra-nav {
    padding : 2.4rem 0;
    border-bottom: solid 1px #d0ebff;
}




/*ESTILIZAÇÃO DO LOGOTIPO*/
.logo-link {
    text-decoration: none;
}

.logo-text {
    font-size : 2.2rem;
    font-weight: 900;
    color : #1864ab;
    text-transform: uppercase;
    letter-spacing: 1.2;
}

.nav-itens a:link, .nav-itens a:visited {
    text-decoration: none;
}

/*ESTILIZAÇÃO DO RODAPÉ*/

footer {
    background-color : #1864ab;
    display : flex;
    justify-content: right;
    align-items: center;   
    padding-top: 0.2rem;
    margin-top: 270px;
    font-size: 1.2rem;
    position:relative;
    bottom:0px;
    left:0px;
    width: 100%;
}

footer {
    justify-content: center;
    color : #fff;
}

footer {
    height: 10vh;
} 