nav, footer {
    background-color : rgb(8, 97, 82);
    display : flex;
    justify-content: right;
    align-items: center;   
}

nav a {
    margin : 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color : #fff;
}

#conteudo-principal {
    height: 80vh;
}

footer {
    justify-content: center;
    color : #fff;
}

/* ESTILOS REPETIDOS */
footer, nav {
    height: 10vh;
}