/*ESTILIZAÇÃO DO FORMULÁRIO*/
.formulario {
    flex-direction: column;
}

.rotulo-do-input {
    font-size: 1.2rem;
    text-align: left;
}

.rotulo-e-input {
    flex-direction: column;
    justify-content: start;
    width: 100%;  
}

.rotulo-do-input {
    font-size: 1.6rem;
    /*color : #868e96;*/
}

.input-de-dados {
    height: 2.2rem;
    color : #868e96;
}

.rotulo-do-input,
.input-de-dados {
    display: inline-block;
    width: 100%;
}

.select-input {
    height: 2.8rem;
}

.btn-formulario {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}

.lado-a-lado {
    width: 100%;
}

.rotulo-numeros{
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
}

.barra-nav {
    padding : 2.4rem 0;
    border-bottom: solid 8px #d0ebff;
}




/*ESTILIZAÇÃO DO LOGOTIPO*/
.logo-link {
    text-decoration: none;
}

.logo-text {
    font-size : 2.2rem;
    font-weight: 900;
    color : #1864ab;
    text-transform: uppercase;
    letter-spacing: 1.2;
}

.nav-itens a:link, .nav-itens a:visited {
    text-decoration: none;
}

/*ESTILIZAÇÃO DO RODAPÉ*/

footer {
    background-color : #1864ab;
    display : flex;
    justify-content: right;
    align-items: center;   
    padding-top: 0.2rem;
    margin-top: 270px;
    font-size: 1.2rem;
    position:relative;
    bottom:0px;
    left:0px;
    width: 100%;
}

footer {
    justify-content: center;
    color : #fff;
}

footer {
    bottom : 0;
    right : 0;
    height: 10vh;
} 

/*ESTILIZAÇÃO DA CAIXA DE ERRO*/
.erro-de-envio {
    width: 100%;
    padding : 10px;
    background-color : #0e700f;
    color : #fff;
}

.erro-de-envio p {
    font-size : 1.8rem;
}

.barra-nav {
    padding : 2.4rem 0;
    border-bottom: solid 8px #d0ebff;
}