
/*SECÇÃO PARA IMPORTAR CSS EXTERNO*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
    padding : 0;
    margin : 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
}

/*ESTILOS GERAIS DE LAYOUT*/
.container {
    max-width: 120rem;
    margin: 0 auto;
}

.flex-container {
    display : flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.gap-small {
    gap : 0.8rem;
}

.gap-medium {
    gap : 1.6rem;
}