<div class="container">
    <h2 class="secondary-title">Candidaturas submetidas</h2>

    <ul class="grid-duas-colunas">
        <li  *ngFor="let inscricao of inscricoes_dados.incritos">
            <div class="candidatura">

                <section class="candidato-foto">
                    <div></div>
                </section>

                <section class="parte-superior">
                    <h4 class="nome-candidato">{{inscricao.Nome}}</h4>
                </section>

                <section class="parte-dados">
                    <p>
                        <span class="rotulo">Nome da vaga</span> : {{inscricao.Nome}}
                    </p>

                    <p>
                        <span class="rotulo">B.I</span> : {{inscricao.BI}}
                    </p>

                    <p>
                        <span class="rotulo">Telefone</span> : {{inscricao.Telefone}}
                    </p>

                    <p>
                        <span class="rotulo">E-mail</span> : {{inscricao.Email}}
                    </p>

                    <p>
                        <span class="rotulo">Gênero</span> : {{inscricao.genero}}
                    </p>

                    <p>
                        <span class="rotulo">Nacionalidade</span> : {{inscricao.nacionalidade}}
                    </p>

                    <p>
                        <span class="rotulo">Anos de Experiência Profissional</span> : {{inscricao.Anos_de_experiencia}}
                    </p>

                    <p>
                        <span class="rotulo">Nível acadêmico</span> : {{inscricao.Nivel_academico}}
                    </p>

                    <p>
                        <span class="rotulo">Vaga</span> : {{inscricao.Id_vaga}}
                    </p>
                </section>

                <section class="anular-inscricao">
                    <button>Anular Inscrição</button>
                </section>
            </div>
        </li>
    </ul>
    
      



</div>
