<nav class="barra-nav">
 
    <div class="container flex-container space-between">
      <div>
        <a href="/" class="logo-link">
          <h3 class="logo-text">C-EPH</h3>
        </a>
      </div>
    
      <div class="nav-itens flex-container gap-small">
        <a class="btn"  href="/criar">Criar Vagas</a>
        <!--<a class="btn" routerLink="/cadastro">Empregos</a>-->
      </div>
      <div class="nav-itens flex-container gap-small">
        <a class="btn" href="/definicoes">Definições</a>
        <!--<a class="btn" routerLink="/cadastro">Empregos</a>-->
      </div>
    </div>
  
  </nav>

<div class="container">

<!--
    <div class="filtros">
        <button *ngFor="let filtro of nome_das_vagas" (click)="filtro()">{{filtro}}</button>
    </div>
-->

<div class="filtro">
    <div class="descricao margin-big-bottom">
        <p class="describing-text">Filtros</p>
    </div>
    <a href="/inscritos" class="botao-filtro todos">Todos os candidatos</a>
    <button  (click)="filtro(i)" *ngFor="let i of nome_das_vagas" class="botao-filtro">{{i.valor_alternativo}}</button>
</div>

    <div class="descricao margin-medium-top top">
        <p class="secondary-title ">Candidaturas submetidas (TOTAL DE CANDIDATOS : {{inscricoes_dados.incritos.length}})</p>
    </div>
    <h2 class="secondary-title"></h2>

    <ul class="candidato-container">
        <li  *ngFor="let inscricao of inscricoes_dados.incritos">
            <div class="candidatura">

                <section class="candidato-foto">
                    <div></div>
                </section>

                <section class="parte-superior">
                    <h4 class="nome-candidato">{{inscricao.Nome}}</h4>
                </section>

                <section class="parte-dados">
                    <p>
                        <span class="rotulo">B.I</span> : {{inscricao.BI}}
                    </p>

                    <p>
                        <span class="rotulo">Telefone</span> : {{inscricao.Telefone}}
                    </p>

                    <p>
                        <span class="rotulo">E-mail</span> : {{inscricao.Email}}
                    </p>

                    <p>
                        <span class="rotulo">Gênero</span> : {{inscricao.genero}}
                    </p>

                    <p>
                        <span class="rotulo">Nacionalidade</span> : {{inscricao.nacionalidade}}
                    </p>

                    <p>
                        <span class="rotulo">Anos de Experiência Profissional</span> : {{inscricao.Anos_de_experiencia}}
                    </p>

                    <p>
                        <span class="rotulo">Nível acadêmico</span> : {{inscricao.Nivel_academico}} 
                    </p>
                    <!-- {{nivelAcademico[converteIdEmNumero()]}} -->

                    <button class="btn" (click)="mostrarDescricaoProfissional()">{{this.mostrar_descricao_rotulo}} descrição Profissional</button>
                    <p class="descricao-text" *ngIf="mostrar_descricao">{{inscricao.descricao_xp}}</p>

                </section>

                <section class="anular-inscricao">
                    <button class="" (click)="eliminarInscrito(inscricao.BI)">Anular Inscrição</button>
                </section>
            </div>
        </li>
    </ul>
    
      



</div>
